.container-input-jdbc {
    // border: 1px solid red;
    max-width: 37.5vw;
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .input-jdbc {

        display: flex;
        flex-direction: column;
        gap: 10px;

        // border: 1px solid #ccc;
        padding-top: 10px;
        border-radius: 10px;


        .label-input {
            display: flex;
            flex-direction: column;

            label {
                font-weight: 500;
                margin-bottom: 5px;
                font-size: 16px;
                color: #333;
            }

            input {
                padding: 10px;
                border: 1px solid #ced4da; // Light border color
                border-radius: 5px;
            }
        }

        .r1 {
            display: flex;
            flex-direction: row;
        }

        .r4 {
            margin-top: 10px;
            display: flex;

            .button-form-input-jdbc-left {}

            .button-form-input-jdbc-right {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 10px;
            }
        }
    }

    .database {
        // border: 1px solid red;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 10px;

        .r1 {
            // background-color: #f9f9f9;
            margin-bottom: 10px;

            .label-select {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: flex-end;
            }

            label {
                font-weight: 500;
                font-size: 1rem;
                color: #333;
                margin-bottom: 10px;
                display: block;
            }

            select {
                // width: 70%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
                background-color: #fff;
                font-size: 1rem;
                cursor: pointer;
                // box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                transition: border-color 0.2s, box-shadow 0.2s;
            }


            select:focus {
                outline: none;
            }

            .hide-empty-table {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;

                gap: 5px;

                input {
                    margin: 0;
                    vertical-align: center;
                }

                label {
                    margin: 0;
                    vertical-align: center;
                }
            }
        }


        .table-form-input-jdbc {
            max-height: 60vh;
            overflow-y: auto;
        }
    }

}