// .container-preview-input {
//     .input-name {
//         padding: 2px;
//         margin-right: 15px;
//         border: none;
//         border-bottom: 1px solid #ccc;
//     }

//     button:disabled {
//         background-color: #6c757d;
//         cursor: not-allowed !important;
//     }

//     .modal-dialog {
//         // max-width: 60%;
//     }
// }


.container-preview-input {
    z-index: 1000000;
    .input-name {
        padding: 2px;
        margin-right: 15px;
        border: none;
        border-bottom: 1px solid #ccc;
    }

    button:disabled {
        background-color: #6c757d;
        cursor: not-allowed !important;
    }

    .modal-dialog {
        // width: auto !important;
        // display: inline-block;
        // margin: 1.75rem auto;  // Đảm bảo modal căn giữa theo chiều ngang
        // margin-left: 30%;
        max-width: 70%;
    }

    .modal-content {
        display: inline-block;
    }
}