.container-compare-component {

    .body-compare {
        // .header-body-compare {

        //     display: flex;
        //     flex-direction: row;
        //     justify-content: space-between;

        //     /* Style cho phần header của body-compare */
        //     div {
        //         /* Style cho các div bên trong header-body-compare */
        //     }
        // }


        display: flex;
        flex-direction: row;
        gap: 30px;

        .left {
            // border: 1px solid red;
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-left: 10px;

            .row {
                padding: 10px;
                // border: 1px solid red;
                border-radius: 5px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                transition: transform 0.3s ease-in-out;

                .title {
                    font-size: 16px;
                    font-weight: bold;
                    color: #333;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                }

                .body {}
            }

            .row:hover {
                transform: scale(1.01);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            }
        }

        .right {
            width: 40%;

            // border: 1px solid red;
            padding: 10px;

            margin-right: 5px;

            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

            .title {
                font-size: 16px;
                font-weight: bold;
                color: #333;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 10px;
            }

            .body {}
        }
    }

}