.container-data {
    display: flex;
    flex-direction: column;

    // border: 1px solid red;

    gap: 10px;

    // .row {
    //     --bs-gutter-x: 1rem !important;

    //     .body {
    //         width: 100%;
    //     }
    // }

    .row1 {
        display: flex;
        flex-direction: row;

        gap: 10px;

        .left {
            // border: 1px solid red;
            width: 70%;
            padding: 10px;

            // margin-left: 10px;
            // margin-right: 10px;

            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s ease-in-out;

            .title {
                font-size: 16px;
                font-weight: bold;
                color: #333;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 10px;
            }
        }

        .left:hover {
            transform: scale(1.01);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        }

        .right {
            width: 30%;
            padding: 10px;
            // margin-right: 10px;
            // margin-left: 10px;

            //     margin-right: 5px;

            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s ease-in-out;

            .title {
                font-size: 16px;
                font-weight: bold;
                color: #333;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 10px;
            }
        }

        .right:hover {
            transform: scale(1.01);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        }
    }

    .row2 {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .left,
        .right {
            width: 50%;
            /* Phân chia bằng nhau giữa left và right */
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

            .title-table {
                padding: 10px;
                border-radius: 5px;
                // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

                .title-button {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .title {
                        font-size: 16px;
                        font-weight: bold;
                        color: #333;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        margin-bottom: 10px;
                    }
                }

                .table {
                    margin-top: 10px;
                }
            }
        }
    }

}