.container-report-info {
    .header-report-info {
        display: flex;
        justify-content: space-between;

        .nav-info {
            .btn-info1 {
                padding: 7px 20px !important;
                transition: transform 0.3s ease-in-out;
                margin-right: 10px; // thêm khoảng cách giữa các nút nếu cần
            }

            .btn-info1:hover {
                transform: scale(1.05);
            }
        }

        .select-report {
            display: flex;
            flex-direction: row;
            gap: 10px;
            transition: transform 0.3s ease-in-out;

            .select-table {
                // border: 1px solid red;
                // padding: 7px !important;
            }
        }
    }

    .body-info {
        margin-top: 20px;
    }
}