.container-report-info {
    .header-report-info {
        display: flex;
        justify-content: space-between;

        .nav-info {
            .btn-info1 {
                padding: 7px 20px !important;
                transition: transform 0.3s ease-in-out;
            }

            .btn-info1:hover {
                transform: scale(1.05);
                /* Tăng kích thước lên 5% khi hover */
            }
        }

        .select-report{
            display: flex;
            flex-direction: row;
        }
    }

    .body-info {
        margin-top: 20px;
    }
}