.container-report-info {
    .header-report-info {
        display: flex;
        justify-content: space-between;

        .nav-info {
            .btn-info1 {
                padding: 7px 20px !important;
            }
        }
    }

    .body-info {
        margin-top: 20px;
    }
}