// CreateReportPopper.scss
.container-create-report-popper {
    width: auto; // Bạn có thể thay đổi giá trị này tùy theo nhu cầu
    max-width: 100%; // Đảm bảo rằng popper không vượt quá chiều rộng của cửa sổ trình duyệt
    padding: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .pinned-button {
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 2;
    }

    .r{

    }
}