.MuiTablePagination-toolbar {
    min-height: 52px;
    padding-right: 2px;
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.MuiToolbar-root {
    min-height: 52px;
    padding-right: 2px;
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.MuiToolbar-gutters {
    min-height: 52px;
    padding-right: 2px;
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.MuiToolbar-regular {
    min-height: 52px;
    padding-right: 2px;
    align-items: baseline;
    display: flex;
    flex-direction: row;
}