.popper {

    .r1 {
        display: flex;
        justify-content: flex-end;
        // max-height: 65vh;
        // overflow: auto;
        // width: 1000px;
        // overflow-x: auto;

        // border: 1px solid red;
    }

    .r2 {
        display: flex;
        justify-content: flex-end;
        padding: 5px;
    }
}