.container-preview-report-details {

    // display: inline-block;
    // width: auto;
    .modal-dialog {
        max-width: 70%;
        margin-top: 50px;
        // width: auto !important;
        // display: inline-block;
        // margin: 1.75rem auto;  // Đảm bảo modal căn giữa theo chiều ngang
        // margin-left: 15%;
        // margin-right: 15%;
        // margin: auto;
        // margin-top: 100px;
    }

    .modal {
        --bs-modal-width: auto;
        /* Override giá trị mặc định */
        width: auto;
        max-width: none;
    }
}